name: yyxs

on:
  workflow_dispatch:
  schedule:
     - cron: '23 2 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        YYXSSPURL: ${{ secrets.YYXSSPURLl }}
        YYXSSPHD: ${{ secrets.YYXSSPHD }}
        YYXSSPBODY: ${{ secrets.YYXSSPBODY }}
        YYXSJSURL: ${{ secrets.YYXSJSURL }}
        YYXSJSBODY: ${{ secrets.YYXSJSBODY }}
        YYXSSCURL: ${{ secrets.YYXSSCURL }}
        YYXSSCHD: ${{ secrets.YYXSSCHD }}
        YYXSCJURL: ${{ secrets.YYXSCJURL }}
        YYXSCJHD: ${{ secrets.YYXSCJHD }}
        YYXSXXURL: ${{ secrets.YYXSXXURL }}
        TZ: Asan9206/Myself1
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install
      - name: '运行 【yyxs】'
        if: env.YYXSSPURL
        run: |
          node task/yyxs.js
        env:
          PUSH_KEY: ${{ secrets.PUSH_KEY }}
          BARK_PUSH: ${{ secrets.BARK_PUSH }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_USER_ID: ${{ secrets.TG_USER_ID }}
          BARK_SOUND: ${{ secrets.BARK_SOUND }}
          DD_BOT_TOKEN: ${{ secrets.DD_BOT_TOKEN }}
          DD_BOT_SECRET: ${{ secrets.DD_BOT_SECRET }}
